include /../node_modules/bemto.jade/bemto
include /blocks/1btn/btn
include /blocks/chbox/chbox
include /blocks/field/field
include /blocks/tab/tab
include /blocks/order/order
include /blocks/client/client
include /blocks/ad-no-work/ad-no-work
include /blocks/efficiency/efficiency
include /blocks/arrow/arrow
include /blocks/hr/hr
include /blocks/join/join
include /blocks/work/work
include /blocks/portfolio-client/portfolio-client
include /blocks/detail/detail
include /blocks/socials/socials
doctype html
html
	head
		meta(charset="utf-8")
		block title
			title Заголовок
		block description
			meta(name="description" content="")
		block keywords
			meta(name="keywords" content="")

		link(rel="stylesheet" href="_main.min.css")

		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		link(rel="shortcut icon" href="media/favicon/favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="media/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="media/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="media/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="media/favicon/apple-touch-icon-114x114.png")
		
	body
		block base-content
			//- Здесь пишем код 
		.hidden
			+b.popup._order#popup-order
				+e.title Оставить заявку
				+e.body
					+e.form
						form(action="/")
							+b.FORM.form.__form
								+e.line
									+b.control.__control
										+e.LABEL.label Укажите ваше имя
										+field(placeholder="Ваше имя")
									+b.control.__control
										+e.LABEL.label Укажите ваш E-mail
										+field(placeholder="Ваша E-mail")
								+e.line
									+b.control.__control
										+e.LABEL.label Укажите вашу организацию
										+field(placeholder="Ваша организация")
									+b.control.__control
										+e.LABEL.label Укажите ваш телефон
										+field.js-inputmask(placeholder="+7 ")
								+b.control
									+e.LABEL.label Опишите вашу задачу
									+e.TEXTAREA.textarea.field._textarea(rows="4", placeholder="Комментарий")
								+b.control
									+b.A.popup-link(href="#") У вас есть промокод?
								+b.control
									+b.file-upload
										+e.INPUT.input#fileupload(type="file")
										+e.LABEL.label(for="fileupload")
											+e.SPAN.btn
												+e.icon.icon_upload
												| Загрузить задание
											+e.icon-link.icon_link_cw
											+e.txt
										+e.kill

								+b.control
									+btn.A._bg-color_orange._size_big._shadow.popup__btn(type="submit") Отправить

					+b.UL.advantage-list.__advantage
						+e.item
							+e.icon.icon.icon_star
							+e.txt Специалисты высокого класса
						+e.item
							+e.icon.icon.icon_tie
							+e.txt Нам доверяют свои сайты крупнейшие компании
						+e.item
							+e.icon.icon.icon_guarantee
							+e.txt Гарантия качества выполненных работ

			+b.popup._order#popup-question
				+e.title Задать вопрос
				+e.body
					+e.form
						form(action="/")
							+b.FORM.form.__form
								+e.line
									+b.control.__control
										+e.LABEL.label Укажите ваше имя
										+field(placeholder="Ваше имя")
									+b.control.__control
										+e.LABEL.label Укажите ваш E-mail
										+field(placeholder="Ваша E-mail")
								+e.line
									+b.control.__control
										+e.LABEL.label Укажите вашу организацию
										+field(placeholder="Ваша организация")
									+b.control.__control
										+e.LABEL.label Укажите ваш телефон
										+field.js-inputmask(placeholder="+7 ")
								+b.control
									+e.LABEL.label Задайте нам вопрос
									+e.TEXTAREA.textarea.field._textarea(rows="4", placeholder="Ваш вопрос")
								+b.control
									+b.A.popup-link(href="#") У вас есть промокод?
								+b.control
									+b.file-upload
										+e.INPUT.input#fileupload(type="file")
										+e.LABEL.label(for="fileupload")
											+e.SPAN.btn
												+e.icon.icon_upload
												| Загрузить задание
											+e.icon-link.icon_link_cw
											+e.txt
										+e.kill

								+b.control
									+btn.A._bg-color_orange._size_big._shadow.popup__btn(type="submit") Задать вопрос

					+b.UL.advantage-list.__advantage
						+e.item
							+e.icon.icon.icon_star
							+e.txt Специалисты высокого класса
						+e.item
							+e.icon.icon.icon_tie
							+e.txt Нам доверяют свои сайты крупнейшие компании
						+e.item
							+e.icon.icon.icon_guarantee
							+e.txt Гарантия качества выполненных работ

			+b.popup._order#popup-call
				+e.title Заказать звонок
				+e.body
					+e.form
						form(action="/")
							+b.FORM.form.__form
								+b.control
									+e.LABEL.label Укажите ваше имя
									+field(placeholder="Ваше имя")
								+b.control
									+e.LABEL.label Укажите ваш телефон
									+field.js-inputmask(placeholder="+7 ")

								+b.control
									+btn.A._bg-color_orange._size_big._shadow.popup__btn(type="submit") Отправить

					+b.UL.advantage-list.__advantage
						+e.item
							+e.icon.icon.icon_star
							+e.txt Специалисты высокого класса
						+e.item
							+e.icon.icon.icon_tie
							+e.txt Нам доверяют свои сайты крупнейшие компании
						+e.item
							+e.icon.icon.icon_guarantee
							+e.txt Гарантия качества выполненных работ
			block popup

		<!--[if lt IE 9]>
		script(src="js/libs/html5shiv/es5-shim.min.js")
		script(src="js/libs/html5shiv/html5shiv.min.js")
		script(src="js/libs/html5shiv/html5shiv-printshiv.min.js")
		script(src="js/libs/respond/respond.min.js")
		<![endif]-->

		//---SCRIPTS--//
		//-script(src="libs/modernizr/modernizr.js")
		//-script(src="libs/jquery/jquery-3.1.0.min.js")
		//-script(src="libs/inputmask/jquery.inputmask.bundle.min.js")
		//---addSmartScript---//
		script(src="js/vendor.js")
		//-script(src="https://code.jquery.com/jquery-migrate-3.0.0.js")
		script(src="js/main.js")
