extends ../base/page

block title
	title Продвижение сайтов

block content
	+b.top._context#sidebar-top
		//include ../blocks/header

		.container
			+b.title.__title Контекстная реклама
			+e.desc Ведения рекламных кампаний в системах контекстной рекламы Яндекс.Директ и Google Adwords <br>Эффективное размещение контекстной рекламы - это серьезная профессиональная задача со множеством нюансов. Нужно не только грамотно подобрать ключевые слова (и периодически их расширять), написать продающие тексты объявлений, выбрать подходящую стратегию по управлению ставками, работать над оптимизацией ставок, но и понимать как каждый запрос конвертируется в продажу, какой ROI каждого запроса. И таких тонкостей - миллион.
			+e.content.animated.fadeInRight
				+e.IMG.img.animated.fadeInRight(src="media/img/context-top.png")
				+e.subtitle Особенности оптимизации по абонентской плате в ITC Media:
				+b.UL.list.__list
					+e.item
						+e.icon.icon._list_cw
						| Мы умеем работать с небольшими бюджетами (от 3 000 руб. в месяц) и знаем, как выжать максимум;
					+e.item
						+e.icon.icon._list_cw
						| Благодаря автоматизации работы у нас есть возможность удерживать низкие цены без потери качества;
					+e.item
						+e.icon.icon._list_cw
						| Мы работаем по фиксированной стоимости за ведение рекламы и не берем % от вашего бюджета;
					+e.item
						+e.icon.icon._list_cw
						| Отдельная стоимость по каждому региону продвижения.
				+e.group-btn
					+btn.A._bg-color_orange._size_normal.__btn.js-order-popup(href="#") Заказать
					+btn.A._border_small._color_white.__btn(href="#") Кейсы

	include ../blocks/sidebar

	+b.rate
		.container
			.content
				+e.title Выберите подходящий тариф
				+b.desc.__desc Наши последние достижения в области интернет-маркетинга позволили составить ряд успешных стратегий как для малого, так и для среднего бизнеса.
				+tab({txt:"Легкий старт", id:"id-easy"}, {txt:"Бизнес", id:"id-bussines"}, {txt:"Профи", id:"id-profi"}).__tab

				+b.rate-content
					-for (var i=1; i <= 3;i++)
						+e.item(class= (i == 1) ? "_active" : "")
							+e.IMG.img(src="media/img/rate/"+ i +".png", alt="")
							+e.title Легкий старт
							+e.price 2490 
								+b.SPAN.rubl Р
								|  в месяц
							+b.rate-sale.__sale
								+e.price 1990 
									+b.SPAN.rubl Р
									|  в месяц
								+e.if при заказе SEO-продвижения
								+e.percent
									+e.SPAN.percent-txt -20%

							+e.UL.list
								+e.list-item
									+e.list-icon.icon._list_cg_b
									| Яндекс или Google
								+e.list-item
									+e.list-icon.icon._list_cg_b
									| Отслеживание целей
								+e.list-item
									+e.list-icon.icon._del
									| Настройка Яндекс.Метрика
								+e.list-item
									+e.list-icon.icon._del
									| Коллтрекинг

							+btn.A._bg-color_orange._size_normal.__btn(href="#") Выбрать тариф


	+b.rsya
		.container
			.content
				+e.IMG.arm(src="media/img/rsya.png", alt="")
				+b.title.__title РСЯ — рекламная сеть Яндекс
				+e.desc Настройка и сопровождение 
					+e.STRONG.free БЕСПЛАТНО!
				+btn.A._bg-color_orange._size_normal.__btn(href="#") Подробнее

	+ad-no-work

	+efficiency(false)

	+b.patern._type_4.darkBlock
		.container
			.content
				+e.body
					+b.title.__title Наиболее полезным инструментом контекстная реклама оказывается в следующих случаях
					+e.desc
						p Если вы организуете какие-либо акции, специальные предложения для своих клиентов или осуществляете продажу сезонных товаров
						p Для тех, кто хочет получить целевой трафик «прямо сейчас»
						p В случае наличия достаточных средств на интернет-маркетинг, было бы неэффективно использовать лишь один канал привлечения клиентов, такой как SEO.


	+order.darkBlock