extends ../base/page

block title
	title Продвижение сайтов

block content
	+b.top-bg._promotion#sidebar-top
		.container
			+e.content
				+e.desc
					+e.H1.title Результативное продвижение сайтов
					+e.P.txt Это больше, чем его оптимизация под поисковые системы. Ваша стратегия SEO должна быть нацелена на качественное и оптимальное предоставление информации пользователю, который ищет в интернете ваши товары и услуги.
					+btn.A._bg-color_orange._size_big._shadow.__btn.js-order-popup(href="#") Сделайте мой сайт посещаемым
				+e.btn-wrap
					+btn.A._border_small._color_white.__btn-nav(href="#") Кейсы
					+btn.A._border_small._color_white.__btn-nav(href="#") Клиенты о нас

	include ../blocks/sidebar


	+b.search-query
		.container
			.content
				+b.title Что такое поисковый запрос?
				+b.browser-input.__input Заказать продвижение сайта
					+e.btn
						+e.icon.icon.icon_search
				+b.P.desc.__desc Поисковой запрос — это слово или фраза, которую пользователь вводит в<br> поисковую систему Google, Яндекс и другие для поиска необходимой информации, <br>услуги или товара. Например, «заказать продвижение сайта».
				+e.browser
					+e.browser-top
						+e.browser-btn
						+e.browser-btn
						+e.browser-btn
						| Search
					+e.browser-body
						+b.browser-input.__browser-input Заказать продвижение сайта
							+e.btn
								+e.icon.icon.icon_search
						+b.browser-item._ad
							+e.SPAN.mark Реклама
							+e.title Контекстная реклама
							+e.P.desc Контекстной рекламе доверяет и производит по ней клик около 20% пользователей.
						+b.browser-item
							+e.title Поисковая выдача
							+e.P.desc Уровень доверия к поисковой выдаче значительно выше. На данные позиции кликает 80% пользователей.
	+b.patern.darkBlock
		.container
			.content
				+e.body
					+b.title.__title Поисковое продвижение сайтов
					+e.desc
						p SEO — это комплекс мер, способствующий улучшению ранжирования сайта в поисковых системах. Благодаря росту позиций увеличивается количество пользователей, которые находят сайт и переходят на него из поисковых систем.
						p Ваши потенциальные клиенты ежесекундно вводят поисковые запросы и формируют мнение о компаниях, которым можно доверять, основываясь на дизайне и удобстве пользования сайтом и его позициях в поисковых системах. SEO — самый верный способ получить «тёплых» клиентов, готовых к заказу продукта/услуги.
						p Мы поможем Вашему сайту стать настоящим продавцом услуг и товаров. Расскажем Вашим потенциальным клиентам, что им необходимо выбрать сотрудничество именно с Вами и Вашей компанией

	+b.advantage
		.container
			.content
				+b.title Преимущества SEO
				+e.list
					+e.item
						+e.icon.icon._seoic1
						+e.title Низкая стоимость
						+e.desc Низкая стоимость перехода на сайт по сравнению с другими интернет-каналами
					+e.item
						+e.icon.icon._seoic2
						+e.title Доверие пользователей
						+e.desc Доверие пользователей, т.к. отсутствует понимание что это реклама
					+e.item
						+e.icon.icon._seoic3
						+e.title Комплексное развитие
						+e.desc Вклад в комплексное развитие интернет-ресурса
					+e.item
						+e.icon.icon._seoic4
						+e.title Конверсия
						+e.desc Повышение конверсии сайта
					+e.item
						+e.icon.icon._seoic5
						+e.title Результат
						+e.desc Стабильность результата и долгосрочный эффект
					+e.item
						+e.icon.icon._seoic6
						+e.title Лучшая репутация
						+e.desc Бизнес-сайты, которые находятся на вершине результатов поиска, вызывают доверие у пользователей.

	+hr

	+b.price
		.container
			.content
				+b.title Выберите схему сотрудничества
				+e.nav
					+arrow._prev.__arrow._prev
					+arrow._next.__arrow._next
				+e.UL.list
					+b.price-item
						+e.icon
							+b.SPAN.icon._priceic1
						+e.title Абонентская
						+e.desc SEO-продвижение с абонентской платой — самая простая и потому самая популярная схема оплаты за продукт
						+e.price от 5 900 Р
						+e.count-client Выбор 25 клиентов
						+e.UL.list
							+e.list-item Стабильный ежемесячный бюджет
							+e.list-item Самая рентабельная схема для небольших интернет-проектов.
							+e.list-item Простота расчётов: в отличие от других схем оплат в этой не нужно изучать дополнительную информацию.

						+btn.A._border_normal._color_orange.__btn(href="#") Заказать
						+e.A.next(href="#") Подробнее о тарифе
					+b.price-item._center
						+e.icon
							+b.SPAN.icon._priceic2
						+e.title По позициям
						+e.desc Идеально подходит для сайтов с достаточно узкой специализацией, где нет большого количества страниц.
						+e.price от 7 900 Р
						+e.count-client Выбор 45 клиентов
						+e.UL.list
							+e.list-item Не тарифицируются сопутствующие запросы
							+e.list-item Имиджевая + коммерческая<br> ориентация
							+e.list-item Оплата за позиции в ТОПе по выбранным ключевым запросам
							+e.list-item Вы не платите за запросы, которые выходят в ТОП-10 самостоятельно

						+btn.A._bg-color_orange._size_big._shadow.__btn._orange(href="#") Заказать
						+e.A.next(href="#") Подробнее о тарифе
					+b.price-item
						+e.icon
							+b.SPAN.icon._priceic3
						+e.title Комбинированная
						+e.desc Если вы хотите получить результат с первых дней вложения в интернет-рекламу.
						+e.price от 14 900 Р
						+e.count-client Выбор 25 клиентов
						+e.UL.list
							+e.list-item Задействует три мощных канала интернет-маркетинга
							+e.list-item Контекстную рекламу ваших товаров и услуг в Яндекс.Директ и Google Adwords.
							+e.list-item Таргетинговую рекламу в социальных сетях.
							+e.list-item Классическое SEO с выгодной схемой оплаты

						+btn.A._border_normal._color_orange.__btn(href="#") Заказать
						+e.A.next(href="#") Подробнее о тарифе
				+b.price-help
					+b.icon.icon_help.__icon
					+e.A.link(href="#") Помочь с выбором тарифа

	+hr
	+ad-no-work._no_br

	+client._bg

	+efficiency._pt_35._pb_30


	//+b.step-work
		.container
			.content
				+b.title.__title Этапы работ
				+b.desc.__desc Показатель удовлетворенности клиентов (NPS) 39%, что на 13% выше, чем в среднем на рынке B2B.

				+b.lines



	+b.interaction.blueblock.darkBlock
		.container
			.content
				+e.line
				+e.left
					+b.title.__title Как выглядит взаимодействие по проекту
					+e.list
						+b.interaction-item
							+e.icon.icon._interic1
							+e.desc Вы
						+e.next._text.icon._double-arrow
							+e.next-top Согласование
							+e.next-bottom Разработка стратегии, тексты, счета, отчеты
						+b.interaction-item
							+e.icon.icon._interic2
							+e.desc Аккаунт <br>менеджер
						+e.next.icon._double-arrow
						+b.interaction-item
							+e.icon.icon._interic3
							+e.desc SEO-специалист
						+e.next.icon._double-arrow
				+e.right
					+b.interaction-item
						+e.icon.icon._interic4
						+e.desc Копирайтер
					+b.interaction-item
						+e.icon.icon._interic5
						+e.desc Дизайнер
					+b.interaction-item
						+e.icon.icon._interic6
						+e.desc Программист
					+b.interaction-item
						+e.icon.icon._interic7
						+e.desc Аналитик

	+b.seo
		.container
			.content.seo__content
				+b.title.__title Думаете SEO - это дорого? <br>Сравните с наружной рекламой!
				+b.seo-item._right
					+e.IMG.img(src="media/img/billbord.png")
					+e.price от 
						+e.STRONG.price-num 6 000
						|  р/мес
					+e.title Аренда, дизайн и печать двух билбордов
					+e.line
					+b.UL.seo-list
						+e.item
							+e.icon
							+e.title Охват
							+e.desc Всего одна улица и один город
						+e.item
							+e.icon
							+e.title Аудитория
							+e.desc Большинство не целевая аудитория. Одни и те же люди каждый день.
						+e.item
							+e.icon
							+e.title Затраты
							+e.desc Оплата за размещение, печать и дизайн билборда.
						+e.item
							+e.icon
							+e.title Тип информации
							+e.desc Статическая информация без возможности изменений.
				+b.seo-item._left
					+e.IMG.img(src="media/img/seo.png")
					+e.price от 
						+e.STRONG.price-num._green 6 000
						|  р/мес
					+e.title Стоимость SEO продвижения сайта 
					+e.line
					+b.UL.seo-list._green
						+e.item
							+e.icon
							+e.title Охват
							+e.desc Все улицы, все города!
						+e.item
							+e.icon
							+e.title Аудитория
							+e.desc 100% охват целевой аудитории. Ежедневно 80% новых посетителей.
						+e.item
							+e.icon
							+e.title Затраты
							+e.desc Никаких дополнительных затрат (наши статьи на солнце не выгорают).
						+e.item
							+e.icon
							+e.title Тип информации
							+e.desc Регулярно обновляемая информация, всегда актуальные цены.

	+b.order._promoution.darkBlock#sidebar-bottom
		.container
			+b.order-manager.__manager
				+e.IMG.img(src="media/images/manager.jpg", alt="")
				+e.name Василий Васильев
				+e.position Аккаунт менеджер
			+e.body
				+b.title.__title Закажите необходимые вам услуги
				+e.form-wrap
					+b.FORM.form.__form
						+e.line
							+b.control.__control
								+e.LABEL.label Укажите ваше имя
								+field(placeholder="Ваше имя")
							+b.control.__control
								+e.LABEL.label Укажите вашу фамилию
								+field(placeholder="Ваша фамилия")
						+e.line
							+b.control.__control
								+e.LABEL.label Введите свой e-mail
								+field(placeholder="Ваш e-mail")
							+b.control.__control
								+e.LABEL.label Укажите ваш телефон
								+field.js-inputmask(placeholder="+7 (___) ___-__-__")
						+b.control
							+e.LABEL.label Укажите ваш сайт
							+field(placeholder="Ваш сайт")
						+b.control
							+btn.A._bg-color_orange._size_big._shadow.order__btn(type="submit") Заказать
					+b.UL.advantage-list.__advantage
						+e.item
							+e.icon.icon.icon_star
							+e.txt Специалисты высокого класса
						+e.item
							+e.icon.icon.icon_tie
							+e.txt Нам доверяют свои сайты крупнейшие компании
						+e.item
							+e.icon.icon.icon_guarantee
							+e.txt Гарантия качества выполненных работ












