extends ../base/page

block title
	title Комплексная интернет-реклама

block content
	+b.top._internet#sidebar-top
		//include ../blocks/header
		.container
			+b.title.__title Комплексная интернет-реклама
			+e.desc Комплексная интернет-реклама позволяет правильно скомбинировать работы и получить результат больше совокупного — так называемый синергетический эффект.
			+e.content.animated.fadeInRight
				+e.IMG.img.animated.fadeInRight(src="media/img/internet-top.png")
				+e.subtitle Особенности оптимизации по абонентской плате в ITC Media:
				+b.UL.list.__list
					+e.item
						+e.icon.icon._list_cw
						| Усиление каждого рекламного канала за счет правильно скомбинированных работ;
					+e.item
						+e.icon.icon._list_cw
						| Высокая конверсия за счет оптимизации структуры и улучшения контента на посадочных страницах;
					+e.item
						+e.icon.icon._list_cw
						| Моментальный эффект, в отличие от других компаний, которые используют лишь один инструмент;
					+e.item
						+e.icon.icon._list_cw
						| Максимальный охват аудитории за счет использования комплекса рекламных инструментов.
				+e.group-btn
					+btn.A._bg-color_orange._size_normal.__btn.js-order-popup(href="#") Заказать
					+btn.A._border_small._color_white.__btn(href="#") Кейсы

	include ../blocks/sidebar


	+b.typesite
		.container
			.content
				+b.title.__title Объединяем самые эффективные типы рекламы для 
					+b.select-inline.typesite__select
						+e.overlay
						+e.txt интернет магазина
						+e.UL.list
							+e.item._active интернет магазина
							+e.item корпоротивного сайта
							+e.item landingpage

				+e.body
					+b.gravity.__gravity
						+e.title Используя сильные стороны каждого способа, мы создаем эффективные и сбалансированные рекламные кампании.
						+e.txt Вам не надо разбираться во всех типах рекламы и вникать в их тонкости — мы берем все управление на себя.
					+b.UL.typesite-list.__list
						+e.item
							+e.icon.icon._ic5
							+e.plus.icon._plus
							+e.title Контекстная реклама 
								+e.SPAN.mark 20%
							+e.txt Объявления размещаются в рекламных сетях и показываются только тем посетителям, которые вводят запрос, соответствующий тематике объявления. Правильная настройка рекламной кампании обеспечит вам приток заинтересованных посетителей за оптимальную цену.
						+e.item
							+e.icon.icon._ic6
							+e.plus.icon._plus
							+e.title Медийная реклама 
								+e.SPAN.mark 20%
							+e.txt Этот канал позволяет привлечь заинтересованных посетителей путём публикации рекламных объявлений по принципу аукциона в реальном времени, выбирая из более чем 50 000 площадок различной тематики. Анализируя трафик, мы отсеиваем некачественные площадки, делая выбор в пользу наиболее эффективных.
						+e.item
							+e.icon.icon._ic7
							+e.title SEO 
								+e.SPAN.mark 60%
							+e.txt С помощью SEO ваш сайт продвигается на первые позиции по тематическим запросам. Посетители приходят на него прямо из поиска. Этот канал – оптимальный выбор для прироста качественного трафика, но его использование требует высокой квалификации. Достижение результатов занимает несколько месяцев.



	+client._pb_60._pt_40

	+b.proces
		.container
			.content
				+b.title Процесс

				+e.body
					+e.titles
						+e.title 1. Аудирование сайта
							+e.point
							+e.line
						+e.title 2. Внутренняя оптимизация
							+e.point
							+e.line
						+e.title 3. Техническая оптимизация
							+e.point
							+e.line
					+e.block
						+e.angle._right
						+e.angle._right-bg
						+e.angle._left
						+e.lists
							+b.UL.proces-list.__list
								+e.title._h 1. Аудирование сайта
								+e.item
									+e.icon.icon._list_cg
									| Анализ сайта с точки зрения поисковых систем;
								+e.item
									+e.icon.icon._list_cg
									| Подбор запросов для продвижения и выбор страниц, наиболее соответствующих им;
								+e.item
									+e.icon.icon._list_cg
									| Формирование стратегии продвижения.
							+b.UL.proces-list.__list
								+e.title._h 2. Внутренняя оптимизация
								+e.item
									+e.icon.icon._list_cg
									| Настройка индексирования сайта
								+e.item
									+e.icon.icon._list_cg
									| Контент-маркетинг
								+e.item
									+e.icon.icon._list_cg
									| Оптимизация HTML-кода под  поисковые запросы
							+b.UL.proces-list.__list
								+e.title._h 3. Техническая оптимизация
								+e.item
									+e.icon.icon._list_cg
									| Проверка/устранение технических ошибок сайта, негативно влияющих на SEO
						+e.titles
							+e.title 6. Отчетность
								+e.point._back
								+e.line
							+e.title 5. Веб-аналитика
								+e.point._back
								+e.line
							+e.title 4. Внешняя оптимизация
								+e.point._back
								+e.line
					+e.lists
						+b.UL.proces-list.__list
							+e.title._h 4. Внешняя оптимизация
							+e.item
								+e.icon.icon._list_cg
								| Формирование ссылочной массы и упоминаемости бренда в сети: размещение вечных ссылок/пресс-репизов на тематических площадках и в социальных сетях
						+b.UL.proces-list.__list
							+e.title._h 5. Веб-аналитика
							+e.item
								+e.icon.icon._list_cg
								| Аналитика источников трафика по каналам привлечения и видам рекламы;
							+e.item
								+e.icon.icon._list_cg
								| Рекомендации по юзабилити и улучшению конверсии сайта.


						+b.UL.proces-list.__list
							+e.title._h 6. Отчетность
							+e.item
								+e.icon.icon._list_cg
								| Личный кабинет пользователя с открытым отчетом обо всех действиях.

	+order.darkBlock

