extends ../base/page

block title
	title Продвижение сайтов

block content

	+b.top._optimization#sidebar-top

		include ../blocks/header

		.container
			+b.title.__title Оптимизация сайтов по словам
			+e.desc Оптимизация сайтов по словам — достаточно сложный процесс. Поэтому в нашей компании продвижением занимаются аккаунт-менеджеры, аналитики, программисты, оптимизаторы и копирайтеры. Работа ведется командно, слаженно и эффективно.
			+e.content.animated.fadeInRight
				+e.IMG.img.animated.fadeInRight(src="media/img/optimization-top.png")
				+e.subtitle Особенности оптимизации по абонентской плате в ITC Media:
				+b.UL.list.__list
					+e.item
						+e.icon.icon._list_cw
						| Оплата за позиции в ТОПе по выбранным ключевым запросам
					+e.item
						+e.icon.icon._list_cw
						| Прозрачность: отдельная стоимость каждого запроса
					+e.item
						+e.icon.icon._list_cw
						| Проводим ежедневный сбор позиций
					+e.item
						+e.icon.icon._list_cw
						| Отдельная стоимость по каждому региону продвижения
					+e.item
						+e.icon.icon._list_cw
						| Оптимизируются только продвигаемые страницы
				+e.group-btn
					+btn.A._bg-color_orange._size_normal.__btn(href="#") Заказать
					+btn.A._border_small._color_white.__btn(href="#") Кейсы

	include ../blocks/sidebar


	+b.price1rubl
		.container
			.content
				+b.title.__title Стоимость продвижения одного запроса - от 1 руб.
				+b.desc.__desc Одна из особенностей услуги - персональное предложение для каждого сайта. Чтобы определить эффективную сумму инвестиций на продвижение сайта по поисковым запросам в ТОП необходимо провести анализ Вашего веб-ресурса и выявить цели бизнеса. Но вне зависимости от тематики Вашего сайта стоимость продвижения складывается из:

				+e.UL.list
					+e.list-item
						+e.list-icon.icon._ic1
						+e.list-title Количества продвигаемых запросов
						+e.list-txt Сколько фраз вы хотите вывести в ТОП
					+e.list-item
						+e.list-icon.icon._ic2
						+e.list-title Конкурентности тематики в выдаче
						+e.list-txt Сколько сайтов борется за ТОП по выбранным фразам
					+e.list-item
						+e.list-icon.icon._ic3
						+e.list-title Конкурентность запросов
						+e.list-txt Стоимость зависит от «популярности» выбранных фраз, чем больше людей ищут решение по данной фразе, тем дороже ее продвижение
					+e.list-item
						+e.list-icon.icon._ic4
						+e.list-title Количества регионов
						+e.list-txt В которых необходимо продвижение

				+btn.A._bg-color_orange._size_normal._full.__btn(href="#") Получить предложение по продвижению



	+b.blocktxt.blueblock.darkBlock
		.container
			.content
				+e.body
					+e.left Очень многое зависит от состояния вашего сайта. Идеальный случай — если вы никогда раньше не продвигали свой сайт, при этом он состоит из трех страниц и существует давно.
					+e.right
						p В работу не берутся сайты тематик с крайне выраженным сезонным спросом
						p Первые 3-4 месяца работы проводятся по схеме Абонетская плата

	+client._pb_60._pt_40

	+b.patern._type_3.darkBlock
		.container
			.content
				+e.body
					+b.title.__title Данный вид продвижения услуг подходит в первую очередь
					+e.desc
						p Организациям, которым нет необходимости продвигать все группы товаров или услуг;
						p Корпоративным сайтам, сайтам-визиткам или небольшим интернет-магазинам, чей список товаров или услуг можно описать небольшим количеством запросов;
						p Компаниям, которые заинтересованы в узнаваемости своего бренда, так как такой тип продвижения положительно сказывается на имидже компании.

	+order.darkBlock