extends ../base/page

block title
	title Продвижение сайтов

block content

	+b.top._optimization#sidebar-top

		include ../blocks/header

		.container
			+b.title.__title Оптимизация сайтов по словам
			+e.desc Оптимизация сайтов по словам — достаточно сложный процесс. Поэтому в нашей компании продвижением занимаются аккаунт-менеджеры, аналитики, программисты, оптимизаторы и копирайтеры. Работа ведется командно, слаженно и эффективно.
			+e.content.animated.fadeInRight
				+e.IMG.img.animated.fadeInRight(src="media/img/optimization-top.png")
				+e.subtitle Особенности оптимизации по абонентской плате в ITC Media:
				+b.UL.list.__list
					+e.item
						+e.icon.icon._list_cw
						| Оплата за позиции в ТОПе по выбранным ключевым запросам
					+e.item
						+e.icon.icon._list_cw
						| Прозрачность: отдельная стоимость каждого запроса
					+e.item
						+e.icon.icon._list_cw
						| Проводим ежедневный сбор позиций
					+e.item
						+e.icon.icon._list_cw
						| Отдельная стоимость по каждому региону продвижения
					+e.item
						+e.icon.icon._list_cw
						| Оптимизируются только продвигаемые страницы
				+e.group-btn
					+btn(a)._orange._fz_14.__btn(href="#") Заказать
					+btn(a)._transparent._fz_14._border_1._border_white.__btn(href="#") Кейсы

	include ../blocks/sidebar


	+b.price1rubl
		.container
			.content
				+b.title.__title Стоимость продвижения одного запроса - от 1 руб.
				+b.desc.__desc Одна из особенностей услуги - персональное предложение для каждого сайта. Чтобы определить эффективную сумму инвестиций на продвижение сайта по поисковым запросам в ТОП необходимо провести анализ Вашего веб-ресурса и выявить цели бизнеса. Но вне зависимости от тематики Вашего сайта стоимость продвижения складывается из:

				+e.UL.list
					+e.list-item
						+e.list-icon.icon._ic1
						+e.list-title Количества продвигаемых запросов
						+e.list-txt Сколько фраз вы хотите вывести в ТОП
					+e.list-item
						+e.list-icon.icon._ic2
						+e.list-title Конкурентности тематики в выдаче
						+e.list-txt Сколько сайтов борется за ТОП по выбранным фразам
					+e.list-item
						+e.list-icon.icon._ic3
						+e.list-title Конкурентность запросов
						+e.list-txt Стоимость зависит от «популярности» выбранных фраз, чем больше людей ищут решение по данной фразе, тем дороже ее продвижение
					+e.list-item
						+e.list-icon.icon._ic4
						+e.list-title Количества регионов
						+e.list-txt В которых необходимо продвижение

				+btn(a)._orange._fz_14.__btn(href="#") Получить предложение по продвижению



	+b.blocktxt.blueblock.darkBlock
		.container
			.content
				+e.body
					+e.left Очень многое зависит от состояния вашего сайта. Идеальный случай — если вы никогда раньше не продвигали свой сайт, при этом он состоит из трех страниц и существует давно.
					+e.right
						p В работу не берутся сайты тематик с крайне выраженным сезонным спросом
						p Первые 3-4 месяца работы проводятся по схеме Абонетская плата

	+b.client._pb_60._pt_40
		.container
			.content
				+b.title Клиенты о нас
				+b.desc.__desc Показатель удовлетворенности клиентов (NPS) 39%, что на 13% выше, чем в среднем на рынке B2B.
				+e.slider.owl-carousel
					+b.slider-item(data-dot="<span></span><i></i>")
						+e.desc
							+b.person
								+e.IMG.thumb(src="./media/images/person/1.jpg")
								+e.desc
									+e.name Ковель Денис
									+e.position Генеральный директор
									+e.A.link(href="#") 77volt.ru
							+e.txt
								p Мы получаем продуманные предложения, подходящие именно нашему бизнесу. Благодаря правильной стратегии трафик на сайте вырос в 13 раз!
								p Мы получаем продуманные предложения, подходящие именно нашему бизнесу. Благодаря правильной стратегии трафик на сайте вырос в 13 раз!
							+btn(a)._transparent._border_1._fz_14._border_gray.__btn(href="#") Читать полностью
						+b.client-result.__result
							+e.title Позиции в 
								+e.SPAN.title-icon
									.icon.icon_Yandex
							+e.A.link(href="#") 77volt.ru
							+e.TABLE.table
								tr
									td
										+e.A.position-link(href="#") кабель дешево
									td 1
								tr
									td
										+e.A.position-link(href="#") купить кабель
									td 1
								tr
									td
										+e.A.position-link(href="#") кабель в Самаре
									td 1
								tr
									td
										+e.A.position-link(href="#") кабель дешево
									td 1
								tr
									td
										+e.A.position-link(href="#") купить кабель
									td 1
					+b.slider-item(data-dot="<span></span><i></i>")
						+e.desc
							+b.person
								+e.IMG.thumb(src="./media/images/person/1.jpg")
								+e.desc
									+e.name Ковель Денис
									+e.position Генеральный директор
									+e.A.link(href="#") 77volt.ru
							+e.txt
								p Мы получаем продуманные предложения, подходящие именно нашему бизнесу. Благодаря правильной стратегии трафик на сайте вырос в 13 раз!
								p Мы получаем продуманные предложения, подходящие именно нашему бизнесу. Благодаря правильной стратегии трафик на сайте вырос в 13 раз!
							+btn(a)._transparent._border_1._fz_14._border_gray.__btn(href="#") Читать полностью
						+b.client-result.__result
							+e.title Позиции в 
								+e.SPAN.title-icon
									.icon.icon_Yandex
							+e.A.link(href="#") 77volt.ru
							+e.TABLE.table
								tr
									td
										+e.A.position-link(href="#") кабель дешево
									td 1
								tr
									td
										+e.A.position-link(href="#") купить кабель
									td 1
								tr
									td
										+e.A.position-link(href="#") кабель в Самаре
									td 1
								tr
									td
										+e.A.position-link(href="#") кабель дешево
									td 1
								tr
									td
										+e.A.position-link(href="#") купить кабель
									td 1
					+b.slider-item(data-dot="<span></span><i></i>")
						+e.desc
							+b.person
								+e.IMG.thumb(src="./media/images/person/1.jpg")
								+e.desc
									+e.name Ковель Денис
									+e.position Генеральный директор
									+e.A.link(href="#") 77volt.ru
							+e.txt
								p Мы получаем продуманные предложения, подходящие именно нашему бизнесу. Благодаря правильной стратегии трафик на сайте вырос в 13 раз!
								p Мы получаем продуманные предложения, подходящие именно нашему бизнесу. Благодаря правильной стратегии трафик на сайте вырос в 13 раз!
							+btn(a)._transparent._border_1._fz_14._border_gray.__btn(href="#") Читать полностью
						+b.client-result.__result
							+e.title Позиции в 
								+e.SPAN.title-icon
									.icon.icon_Yandex
							+e.A.link(href="#") 77volt.ru
							+e.TABLE.table
								tr
									td
										+e.A.position-link(href="#") кабель дешево
									td 1
								tr
									td
										+e.A.position-link(href="#") купить кабель
									td 1
								tr
									td
										+e.A.position-link(href="#") кабель в Самаре
									td 1
								tr
									td
										+e.A.position-link(href="#") кабель дешево
									td 1
								tr
									td
										+e.A.position-link(href="#") купить кабель
									td 1
				+b.slider-nav
					+e.prev
						.icon.icon_arrow_left
					+e.dots
					+e.next
						.icon.icon_arrow_right

	+b.patern._type_3.darkBlock
		.container
			.content
				+e.body
					+b.title.__title Данный вид продвижения услуг подходит в первую очередь
					+e.desc
						p Организациям, которым нет необходимости продвигать все группы товаров или услуг;
						p Корпоративным сайтам, сайтам-визиткам или небольшим интернет-магазинам, чей список товаров или услуг можно описать небольшим количеством запросов;
						p Компаниям, которые заинтересованы в узнаваемости своего бренда, так как такой тип продвижения положительно сказывается на имидже компании.

	+b.order.darkBlock
		.container
			.content
				+b.title.__title Мы не просто занимаемся SEO, мы улучшаем ваш ресурс!
				+b.desc.__desc Отправьте заявку и получите коммерческое предложение
				+e.form-wrap
					+b.FORM.form.__form
						+e.line
							+b.control.__control
								+e.LABEL.label Укажите ваше имя
								+e.INPUT.input(type="text", placeholder="Ваше имя")
							+b.control.__control
								+e.LABEL.label Укажите вашу фамилию
								+e.INPUT.input(type="text", placeholder="Ваша фамилия")
						+b.control
							+e.LABEL.label Укажите ваш телефон
							+e.INPUT.input(type="text", placeholder="Ваш сайт")
						+b.control
							+btn(button)._orange._h_50._fz_14.order__btn(type="submit") Отправить
					+b.UL.advantage-list.__advantage
						+e.item
							+e.icon.icon.icon_star
							+e.txt Специалисты высокого класса
						+e.item
							+e.icon.icon.icon_tie
							+e.txt Нам доверяют свои сайты крупнейшие компании
						+e.item
							+e.icon.icon.icon_guarantee
							+e.txt Гарантия качества выполненных работ