extends ../base/page

block title
	title Поддержка сайтов

block content
	+b.top-portfolio
		.container
			+e.wrap
				+e.A.nav._prev(href="#")
					+e.SPAN.nav-arrow
						i.icon.icon_prev_cw
					+e.SPAN.nav-txt Окна Строй
				+e.A.nav._next(href="#")
					+e.SPAN.nav-txt Окна Строй
					+e.SPAN.nav-arrow
						i.icon.icon_next_cw
				+e.title Шувалов
				+e.type Интернет магазин
				+e.desc Создать сайт, который будет на слуху у некоторых сограждан которые бы смотрели на него и могли бы прикупить себе раз в 5 лет какой нибудь там хрусталь чтоли

	+b.desing
		.container
			+e.wrap
				+e.top
					+b.portfolio-desc
						+e.title
							+e.A.link(href="#") shuvalov-crystal.ru
								i.icon.icon_link-go
						+e.P.txt «Шувалов» - это торговая марка продукции, выпускаемой ООО «Дятьковская стекольная артель». Предприятие находится в г. Дятьково – городе мастеров стекла и хрусталя, чьё производство заложено с 1790г.
				+e.txt_1
					+b.portfolio-desc
						+e.title Во время работы
						+e.txt Подбираем решение. Вместе анализируем потребности бизнеса и подбираем оптимальную маркетинговую стратегию.
				+e.txt_2
					+b.portfolio-desc
						+e.txt Товары избавили от лишних элементов, вынесли навигацию под ховер, чтобы придать фотографии чистоту.
				+e.txt_3
					+b.portfolio-desc
						+e.txt Небольшой паралакс акцентирует внимание на уникальное предложение - Хрустальные изделия на заказ.
				+e.txt_4
					+b.portfolio-desc
						+e.txt В дизайне важно было подчеркнуть богатую историю бренда, передать традиции великих мастеров прошлого.


				+e.IMG.img(src="media/images/portfolio/1.png")


	.container
		.hr__line

	+portfolio-client

	.container
		.hr__line

	+b.solutions
		.container
			+b.portfolio-title.__title Решения в проекте
			+e.tab-container
				+tab({txt:"О компании", cls:"js-tab-portfolio"}, {txt:"Карточка товара", cls:"js-tab-portfolio"}, {txt:"Корзина", cls:"js-tab-portfolio"}).__tab
				+e.body
					+e.item
						+b.portfolio-desc.__desc
							+e.title О компании
							+e.txt Стояла задача отобразить богатую историю компании и передать преемственность поколений мастеров. Разработали посадочную страницу отображающую историю бренда.
						+e.IMG.item-img(src="media/images/portfolio/cart.png", alt="")
					+e.item
						+b.portfolio-desc.__desc
							+e.title Карточка товара
							+e.txt В карточке товаров акцент был сделан на изображение. Красивая сочная фотография изделия замет тысячи символов скучного текста. По просьбе заказчика была добавлена возможность заказа по телефону, с отслеживанием статистики.
						+e.IMG.item-img(src="media/images/portfolio/cart.png", alt="")
					+e.item
						+b.portfolio-desc.__desc
							+e.title Корзина
							+e.txt Корзину решили не перегружать сложными формами заказа. Уместили все на одной странице. Страница является корзиной и страницей заказа одновременно.
						+e.IMG.item-img(src="media/images/portfolio/cart.png", alt="")
	.container
		.hr__line

	+b.mobile-version
		.container
			+b.portfolio-title.__title Мобильная версия
			+e.wrap
				+b.portfolio-desc.__desc
					+e.title Во время работы
					+e.txt Подбираем решение. Вместе анализируем потребности бизнеса и подбираем оптимальную маркетинговую стратегию.

				+e.IMG.img(src="media/images/portfolio/mobile.png", alt="")

	.container
		.hr__line


	+detail("Хотите больше техдеталей проекта?")


	+socials