extends ../base/page

block title
	title Разработка сайтов «под ключ»

block content

	+b.top-bg._site#sidebar-top
		include ../blocks/header
		.container
			+e.content
				+e.desc
					+e.H1.title Разработка сайтов «под ключ»
					+e.P.txt Являясь одним из ведущих экспертов в области интернет-маркетинга, мы накопили бесценный опыт во многих областях online.
					+btn.A._bg-color_orange._size_normal.__btn(href="#") Заказать сайт
				+e.btn-wrap
					+btn.A._border_small._color_white.__btn-nav(href="#") Кейсы
					+btn.A._border_small._color_white.__btn-nav(href="#") Клиенты о нас

			+b.UL.advantage-site.__advantage
				+e.item
					+e.icon.icon._saic_1
					| 8 лет на рынке (с 2009 года)
				+e.item
					+e.icon.icon._saic_2
					| Свыше 300 сайтов разработано
				+e.item
					+e.icon.icon._saic_3
					| Свыше 100 клиентов на постоянной поддержке
				+e.item
					+e.icon.icon._saic_4
					| Специалисты высочайшего класса
				+e.item
					+e.icon.icon._saic_5
					| Нам доверяют свои сайты крупнейшие компании
				+e.item
					+e.icon.icon._saic_6
					| Полное погружение в проект



	include ../blocks/sidebar

	+b.create-site
		.container
			.content
				+b.title.__title Создание сайтов
				+b.desc.__desc Наши возможности по разработке и созданию сайтов
				+b.UL.site-type
					+e.item
						+e.icon-wrap
							+e.A.icon._corporate(href="#").icon._corporate
						+e.A.title(href="#") Корпоративные сайты
						+e.P.txt Качественный и продуманный  сайт компании - необходимое условие лояльности ваших клиентов и партнеров.
					+e.item
						+e.icon-wrap
							+e.A.icon._shops(href="#").icon._shops
						+e.A.title(href="#") Интернет-магазины
						+e.P.txt Основная задача Интернет магазина - обеспечить удобный инструмент для выбора и покупки товаров и услуг.
					+e.item
						+e.icon-wrap
							+e.A.icon._lp(href="#").icon._lp
						+e.A.title(href="#") Лэндинги
						+e.P.txt Мы выпускаем промо-сайты, которые раскрывают важные преимущества с самой эффектной точки зрения.
					+e.item
						+e.icon-wrap
							+e.A.icon._redesign(href="#").icon._redesign
						+e.A.title(href="#") Дизайн и редизайн
						+e.P.txt Комплексный редизайн и модернизация интернет-сайтов от профессионалов.
					+e.item
						+e.icon-wrap
							+e.A.icon._1c(href="#").icon._1c
						+e.A.title(href="#") Интеграция с 1С
						+e.P.txt Интеграция сайтов с продуктами 1С-Бухгалтерией, интеграция интернет-магазинов с 1С.
					+e.item
						+e.icon-wrap
							+e.A.icon._bitrix(href="#").icon._bitrix
						+e.A.title(href="#") Сайты на 1С-Битрикс
						+e.P.txt Разработка и создание сайтов на системе управления 1С-Битрикс.

				+b.site-result
					+e.BUTTON.btn
						+e.SPAN.btn-txt Что вы получаете?
					+e.UL.list
						+e.item
							+e.icon 1
								+e.SPAN.check.icon._list_cg
							+e.item-in
								+e.title Эксклюзивный дизайн
								+e.txt Дизайн как средство решения конкретных задач вашего проекта.
						+e.item
							+e.icon 4
								+e.SPAN.check.icon._list_cg
							+e.item-in
								+e.title Базовая поисковая оптимизация
								+e.txt При разработке сайта выполняются все правила базовой поисковой оптимизации, что позволяет легко продвигать ресурс.
						+e.item
							+e.icon 2
								+e.SPAN.check.icon._list_cg
							+e.item-in
								+e.title Простое управление сайтом
								+e.txt Исходим из задач клиента при подборе оптимального решения на базе платформ 1С-Битрикс и HostCMS.
						+e.item
							+e.icon 5
								+e.SPAN.check.icon._list_cg
							+e.item-in
								+e.title Быстрая скорость запуска
								+e.txt Благодаря налаженным процессам работы в компании запуск сайта осуществляется в максимально короткие сроки.
						+e.item
							+e.icon 3
								+e.SPAN.check.icon._list_cg
							+e.item-in
								+e.title Фокус на повышение продаж
								+e.txt Посетитель вашего сайта за 3 секунды поймет, что он нашел то, что искал, и приступит к выбору товаров или услуг.

						+e.item
							+e.icon 6
								+e.SPAN.check.icon._list_cg
							+e.item-in
								+e.title Обучение работы с сайтом
								+e.txt После сдачи проекта мы обучим ваших специалистов управлению сайтом с помощью наглядных инструкций.



	+join.blueblock

	+work

	+b.scheme-work.blueblock
		.container
			+e.body
				+e.desc
					+b.title.__title Схема работы по сайту
					+e.txt
						p Процесс разработки в Waterfall выглядит как поток, последовательно проходящий фазы анализа, проектирования, реализации, тестирования, интеграции и поддержки
						p Методология дает гарантированный результат в рамках основных метрик проекта
						p Подходит для компаний предпочитающих работать по фиксированному бюджету

				+b.line-scheme.__scheme
					-var list = [["Составление ТЗ", "_tz"], ["Прототипирование", "_port"], ["Дизайн", "_desing"],["Верстка", "_psd2html"], ["Программирование", "_prog"], ["Тестирование", "_test"], ["Запуск и поддержка", "_start"]]
					each item in list
						+e.line(class= item[1])
							+e.txt= item[0]
							+e.tooltip-wrap
								+e.tooltip(data-tooltip="ТЗ устанавливает основное назначение разрабатываемого объекта, его технические характеристики, показатели качества и технико-экономические требования, предписание по выполнению необходимых стадий создания документации (конструкторской, технологической, программной и т. д.) и её состав, а также специальные требования.") ?



	+b.technology
		.container
			.content
				+b.title.__title Технология ведения проекта
				+tab("Концепция", "Реализация").__tab
				+e.body
					+b.accordion.__accordion
						+e.head._active
							+e.icon
							+e.SPAN.head-txt Руководитель проекта
						+e.body
							+e.txt
								p Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик.
						+e.head
							+e.icon
							+e.SPAN.head-txt Ведущий программист
						+e.body
							+e.txt
								p Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик.
						+e.head
							+e.icon
							+e.SPAN.head-txt Front-end разработчик
						+e.body
							+e.txt
								p Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик.
						+e.head
							+e.icon
							+e.SPAN.head-txt Back-end разработчик
						+e.body
							+e.txt
								p Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик.
					+b.radial.__radial
						+b.radial-item._active
							+e.name Руководитель проекта
							+e.percent
								+e.SPAN.percent-txt 20%
							+e.progress(data-value="0.2" data-size="340" data-fill='{"gradient": ["#0e5c98", "#1b77be"]}')
							+e.progress-active(data-value="0.2" data-size="340" data-fill='{"gradient": ["#c75024", "#f2612e"]}')
						+b.radial-item 
							+e.name Ведущий программист
							+e.percent
								+e.SPAN.percent-txt 10%
							+e.progress(data-value="0.1" data-size="290" data-fill='{"gradient": ["#0e5c98", "#1b77be"]}')
							+e.progress-active(data-value="0.1" data-size="290" data-fill='{"gradient": ["#c75024", "#f2612e"]}')
						+b.radial-item 
							+e.name Front-end разработчик
							+e.percent
								+e.SPAN.percent-txt 40%
							+e.progress(data-value="0.4" data-size="230" data-fill='{"gradient": ["#0e5c98", "#1b77be"]}')
							+e.progress-active(data-value="0.4" data-size="230" data-fill='{"gradient": ["#c75024", "#f2612e"]}')
						+b.radial-item 
							+e.name Back-end разработчик
							+e.percent
								+e.SPAN.percent-txt 30%
							+e.progress(data-value="0.3" data-size="180" data-fill='{"gradient": ["#0e5c98", "#1b77be"]}')
							+e.progress-active(data-value="0.3" data-size="180" data-fill='{"gradient": ["#c75024", "#f2612e"]}')



	+b.reviews
		.container
			+b.title.__title Отзывы наших клиентов
			+e.slider
				+arrow._prev.__arrow._prev
				+arrow._next.__arrow._next
				+e.items.owl-carousel
					-for(var i = 0; i < 3; i++)
						+b.reviews-item
							+e.person
								+e.avatar
									+e.IMG.avatar-img(src="media/images/person/2.jpg")
								+e.name Екатерина Пилютина
								+e.positon Заместитель директора по экологическому просвещению и туризму
							+e.desc
								+e.title Заповедник «Брянский лес»
								+e.A.link(href="http://bryansky-les.ru/") http://bryansky-les.ru/
								+e.txt
									p От имени ФГБУ «Заповедник «Брянский лес» благодарю коллектив интернет-агентства ITC MEDIA за продуктивную работу по созданию нового официального сайта для заповедника. За время совместной работы ITC MEDIA показали себя серьёзной компанией, способной не только услышать клиента, что в наше время редкость, но и предложить адекватные поставленным задачам решения. Успешные результаты сотрудничества позволяют рекомендовать компанию как профессионального и надежного партнера.
									+e.A.btn(href="#")
										+e.btn-icon.icon_comment
										| Посмотреть оригинал отзыва
			+e.all
				+e.A.all-btn(href="#") Все отзывы






	+order.darkBlock