extends ../base/page

block title
	title Разработка сайтов «под ключ»

block content

	+b.top-bg._tech#sidebar-top
		include ../blocks/header
		.container
			+e.content
				+e.desc
					+e.H1.title Поддержка сайтов
					+e.P.txt Современный сайт результат непрерывного процесса изменения и совершенствования. С точки зрения бизнеса эффективный сайт постоянно нуждается в доработках, обновлении и развитии. Наш отдел поддержки и развития готов оказать полный перечень услуг по обслуживанию и доработке сайтов.
					+btn.A._bg-color_orange._size_normal.__btn(href="#") Заказать поддержку сайта
				+e.btn-wrap
					+btn.A._border_small._color_white.__btn-nav(href="#") Портфолио
					+btn.A._border_small._color_white.__btn-nav(href="#") Клиенты о нас




	include ../blocks/sidebar

	+b.tech-advantage
		.container
			.content
				+b.title.__title Наши преимущества
				+b.UL.advantage-site.__advantage
					+e.item
						+e.icon.icon._techad_1
						| 8 лет на рынке (с 2009 года)
					+e.item
						+e.icon.icon._techad_2
						| Свыше 300 сайтов разработано
					+e.item
						+e.icon.icon._techad_3
						| Свыше 100 клиентов на постоянной поддержке
					+e.item
						+e.icon.icon._techad_4
						| Специалисты высочайшего класса
					+e.item
						+e.icon.icon._techad_5
						| Нам доверяют свои сайты крупнейшие компании
					+e.item
						+e.icon.icon._techad_6
						| Полное погружение в проект

	+hr

	+b.tech-price
		.container
			.content
				+tab("Месяц", "Полгода").__tab
				+b.tech-table.__table
					+e.row
						+e.cell
							+b.title.__title Тарифы
						+e.cell
							+e.head._l
								+e.icon |
								+e.title Базовый
								+e.desc Если у вас небольшой сайт, обновления происходят редко
						+e.cell
							+e.head._c
								+e.icon ||
								+e.title Расширенный
								+e.desc Если ваш сайт требует постоянного обновления новостей, акций, статей

						+e.cell
							+e.head._r
								+e.icon |||
								+e.title Профессиональный
								+e.desc Если у вас интернет-магазин, требующий постоянного обновления
					+e.row
						+e.cell._h Абонентская плата (месяц)
						+e.cell 1 950 р
						+e.cell 3 900 р
						+e.cell 6 750 р
					+e.row
						+e.cell._h Кол-во выделенных часов
						+e.cell 3 часа
						+e.cell 8 часов
						+e.cell 15 часов
					+e.row
						+e.cell._h Стоимость часа любого специалиста
						+e.cell 650 р
						+e.cell 500 р
						+e.cell 450 р
					+e.row
						+e.cell._h Стоимость часа сверхлимита
						+e.cell 800 р
						+e.cell 700 р
						+e.cell 600 р
					+e.row
						+e.cell._h Время реакции
						+e.cell до 2ух дней
						+e.cell до 1го дня
						+e.cell до 8ми часов
					+e.row
						+e.cell
						+e.cell
							+e.foot
								+btn.A._border_normal._color_orange(href="#") Заказать
								+e.A.link(href="#") Подробнее о тарифе
						+e.cell
							+e.foot
								+btn.A._bg-color_orange._size_big._shadow(href="#") Заказать
								+e.A.link(href="#") Подробнее о тарифе
						+e.cell
							+e.foot
								+btn.A._border_normal._color_orange(href="#") Заказать
								+e.A.link(href="#") Подробнее о тарифе


	+hr
	+b.tech-service
		.container
			.content
				+b.title.__title Услуги технической поддержки
				+e.UL.list
					- var list = [["_update", "Обновление текущей информации", "Проекты, новости, специальные предложения и прочее."], ["_prog", "Программная доработка сайта", "Развитие новых разделов и нового функционала."], ["_dis", "Работа над внешним видом сайта", "Оформление новых материалов и графических элементов дизайна."], ["_action", "Подготовка сайта к специальным акциям", "Разработка соответствующих рекламных материалов."]]
					each item in list
						+e.item
							+e.icon.icon(class= item[0])
							+e.label= item[1]
							+e.desc= item[2]

	+b.tech-patern.darkBlock
		.container
			.content
				+b.title.__title Принцип формирования цен
				+e.body
					+e.left
						p Стоимость работ рассчитывается индивидуально по каждой заявке и зависит от оценки времени выполнения задачи специалистами.
					+e.right
						p Чем больше объем работ, тем ниже стоимость нормочаса специалиста. В этом случае обращение в нашу службу техподдержки становится наиболее выгодным.

	+b.evaluation
		.container
			.content
				+b.title.__title Оценка времени
				+tab("Краткая" , "Подробная").__tab
				+e.UL.list
					- var list = [["_psdt", "2 часа", "Дизайн-макет (тестовый)", "2 часа дизайнера"], ["_photot", "1,5 часа", "Обработка и размещение на сайте 20 фотографий", "1 час контент-менеджера 0.5 часа дизайнера"], ["_psd2htmlt", "2 часа", "Верстка одной простой страницы", "2 часа верстальщика"], ["_modulet", "4 часа", 'Обработка модуля формы "Оставить заявку"', "1 час дизайнера <br>1 час верстальщика <br>2 часа программиста"]]
					each item in list
						+e.item
							+e.icon.icon(class= item[0])
							+e.label= item[1]
							+e.desc= item[2]
							+e.time!= item[3]
	+hr
	+b.faq
		.container
			.content
				+b.title.__title FAQ
				+b.accordion.__accordion
					+e.head._active
						+e.icon
						+e.SPAN.head-txt Что делать, если задача не «помещается» в тарифный план?
					+e.body
						+e.txt
							p Один из основополагающих принципов ПланФикса касается уведомлений. Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик и внимание пользователя, чтобы видя сообщение от ПланФикса он испытывал соблазн удалить его не читая.
					+e.head
						+e.icon
						+e.SPAN.head-txt Как правильно сформулировать задачу?
					+e.body
						+e.txt
							p Один из основополагающих принципов ПланФикса касается уведомлений. Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик и внимание пользователя, чтобы видя сообщение от ПланФикса он испытывал соблазн удалить его не читая.
					+e.head
						+e.icon
						+e.SPAN.head-txt Не приходят сообщения о завершении задачи
					+e.body
						+e.txt
							p Один из основополагающих принципов ПланФикса касается уведомлений. Мы считаем, что уведомления должны направляться на e-mail или jabber-клиент пользователя только в том случае, если они требуют от него какой-то реакции. Объяснение этому простое - мы не хотим засорять почтовый ящик и внимание пользователя, чтобы видя сообщение от ПланФикса он испытывал соблазн удалить его не читая.


	+join.blueblock#sidebar-bottom

	+work
	+order