+b.sidebar#sidebar(class= sidebar_static ? "_static" : "")
	.container
		+e.body
			+b.UL.sidebar-menu
				+e.item
					+e.A.link(href="#") Схемы работы
				+e.item
					+e.A.link(href="#") Аудит сайта
				+e.item._active
					+e.A.link(href="#") Прочие услуги
				+e.item
					+e.A.link(href="#") Как мы работаем
				+e.item
					+e.A.link(href="#") FAQ
				+e.item
					+e.A.link(href="#") Преимущества
				+e.item._last
					+e.A.link(href="#") Заказать продвижение
			+e.links
				+e.A.link(href="#")
					+e.SPAN.icon.icon._brief
					+e.SPAN.link-txt Заполнить бриф
				+e.A.link(href="#")
					+e.SPAN.icon.icon._download
					+e.SPAN.link-txt Скачать презентацию