.evaluation
	text-align: center
	padding: 30px 0 50px
	overflow: hidden
	&__tab
		margin-top: 25px
	&__body
		margin-top: 45px
	&__list
		+clearfix
		width: 100%
		@media only screen and (max-width : 550px)
			margin-top: 10px
	&__item
		float: left
		width: 25%
		padding: 0 3%
		box-sizing: border-box
		@media only screen and (max-width : 550px)
			float: none
			width: 100%
			margin-top: 10px

	&__label
		margin-top: 15px
		@extend %pbold
		font-size: 18px
		@media only screen and (max-width : 550px)
			margin-top: 5px
	&__desc
		margin-top: 12px
		@media only screen and (max-width : 550px)
			margin-top: 7px
	&__time
		margin-top: 15px
		color: #929292
		font-size: 12px
		@media only screen and (max-width : 550px)
			margin-top: 5px

.evaluation-detail
	display: none
	border-left: 1px solid #e5e5e5
	border-right: 1px solid #e5e5e5
	border-bottom: 1px solid #e5e5e5
	text-align: left
	box-sizing: border-box
	width: 100%
	&__item
		border-top: 1px solid #e5e5e5
		padding: 20px 27px
		box-sizing: border-box
		+clearfix
	&__body
		margin-top: 15px
		position: relative
		&:after
			content: ''
			position: absolute
			right: 35%
			top: 10px
			bottom: 10px
			background-color: #e5e5e5
			width: 1px

	&__content
		float: left
		width: 50%
	&__img
		float: left
		width: 45%
		margin-left: 5%

	&__title
		@extend %pbold
		font-size: 18px

	&__time
		position: absolute
		top: 50%
		margin-top: -30px
		right: 15%
		text-align: center

	&__time-txt
		margin-top: 5px
		@extend %pbold
		font-size: 12px
		text-transform: uppercase

	&__list
		width: 55%
		+clearfix
	&__spec
		float: left
		width: 50%
		margin: 7px 0
	&__count-time
		margin: 7px 0
		float: left
		width: 50%
		text-align: center
	@media only screen and (max-width : 750px)
		&__content
			width: 65%
		&__img
			width: 30%
	@media only screen and (max-width : 550px)
		&__content
			float: none
			width: 100%
		&__img
			float: none
			width: 100%
			margin-left: 0
			margin-top: 15px
			text-align: center
		&__list
			width: 70%
		&__time
			right: 5%
		&__body
			&:after
				right: 30%