.interaction
	background-color: #2f3c6b
	.content
		padding: 40px 0 30px
		position: relative
		+clearfix
	&__line
		position: absolute
		left: 79%
		top: 40px
		bottom: 40px
		border-right: 2px dotted rgba(#fff, .3)
		@media only screen and (max-width : 750px)
			top: auto
			bottom: 25%
			left: 20px
			right: 20px
			border-right: 0 none
			border-top: 2px dotted rgba(#fff, .3)

	&__left
		float: left
		width: 78.9%
		
		box-sizing: border-box
		@media only screen and (max-width : 750px)
			float: none
			width: 100%

	&__right
		float: right
		width: 21.1%
		padding-top: 15px
		@media only screen and (max-width : 750px)
			width: 100%
			float: none
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-wrap: wrap
			.interaction-item
				width: 50%
				&:first-child,
				&:nth-child(3)
					.tooltip-interaction
						margin-left: -80px
						&:after
							right: auto
							left: 70px
						@media only screen and (max-width : 550px)
							margin-left: -70px

		.tooltip-interaction
			margin-left: -400px
			&:after
				left: auto
				right: 70px
			@media only screen and (max-width : 550px)
				margin-left: -240px
			@media only screen and (max-width : 380px)
				margin-left: -210px

	&__title
		color: #fff
		width: 75%
		text-align: left
		@media only screen and (max-width : 750px)
			width: 100%
			text-align: center

	&__list
		margin-top: 60px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		width: 90%
		margin-right: auto
		justify-content: space-between
		align-items: center
		@media only screen and (max-width : 750px)
			flex-direction: column
			width: 100%
			text-align: center


	&__next
		position: relative
		padding-bottom: 50px
		@media only screen and (max-width : 750px)
			&:before
				+transform(rotate(90deg))
		&_text
			text-align: center
			@media only screen and (max-width : 1200px)
				flex-grow: 2
		&-top
			position: absolute
			bottom: 100%
			margin-bottom: 15px
			font-size: 14px
			text-align: center
			width: 150px
			left: 50%
			margin-left: -75px
			@media only screen and (max-width : 750px)
				bottom: auto
				right: 100%
				left: auto
				top: 5px
				margin-bottom: 0
				margin-left: 0
				width: 100px
		&-bottom
			position: absolute
			top: 100%
			margin-top: -40px
			font-size: 12px
			width: 150px
			left: 50%
			margin-left: -75px
			text-align: center
			@media only screen and (max-width : 750px)
				left: 100%
				margin-left: 0
				bottom: auto
				top: -5px
				margin-top: 0
				min-width: auto
				width: 133px




.interaction-item
	text-align: center
	margin-bottom: 17px
	position: relative
	cursor: pointer
	&__desc
		margin-top: 8px
		@extend %bold
	&__tooltip
		display: none
		text-align: left
	&_active-tooltip
		.interaction-item__tooltip
			display: block

.tooltip-interaction
	color: #515a5c
	position: absolute
	bottom: 100%
	left: 50%
	margin-left: -250px
	margin-bottom: 15px
	width: 475px
	z-index: 5
	//border: 1px solid #e5e5e5
	background-color: #f3f3f5
	padding: 5px 20px
	box-sizing: border-box
	box-shadow: 0 0 5px #ccc
	&:after
		content: ''
		position: absolute
		top: 100%
		left: 50%
		margin-left: 12px
		border-right: 12px solid transparent
		border-top: 12px solid #f3f3f5
		border-left: 12px solid transparent
	@media only screen and (max-width : 550px)
		width: 320px
		margin-left: -160px
		&:after
			margin-left: -5px
	@media only screen and (max-width : 380px)
		width: 290px
		margin-left: -145px
	&__item
		padding-left: 20px
		margin: 10px 0
		position: relative
	&__icon
		position: absolute
		top: 0
		left: 0