.rsya
	background-color: #eceff1
	overflow: hidden
	.content
		position: relative
		padding: 50px 0 57px
	&__arm
		position: absolute
		right: 0
		bottom: 0
	&__title
		text-align: left
	&__desc
		font-size: 26px
		@extend %plight
	&__free
		@extend %pbold
		color: #23ce42

	&__btn
		margin-top: 37px
		display: inline-block
		padding: 11px 42px
