.shop-layers
	&__img
		position: absolute
		top: 0
		right: 0
		max-width: none
		&_center
			top: 20px
			right: 30px
			+animation(animdesctop 1s linear)
			+animation-fill-mode(both)
		&_top
			top: 60px
			right: 140px
			opacity: 0
			+animation(animgrid 2s linear)
			+animation-fill-mode(both)




+keyframes(animgrid)
	0%
		+transform(translateY(0))
		opacity: 0
	50%
		+transform(translateY(-50px))
		opacity: 0
	100%
		+transform(translateY(-100px))
		opacity: 1

+keyframes(animdesctop)
	0%
		+transform(translateY(0))
	100%
		+transform(translateY(-50px))