.top-bg
	padding-bottom: 35px
	position: relative
	&:after
		content: ''
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background-image: url(media/img/dots-pattern.png)
	&_site
		background-image: url(media/img/site_bg.jpg)
	.container
		position: relative
		z-index: 2

	&__content
		margin-top: 26px
		color: #fff
		+clearfix
	&__desc
		float: left
		width: 54%
	&__btn-wrap
		float: right
		width: 14.5%
		margin-top: 25px
	&__title
		font-size: 34px
		@extend %pbold

	&__txt
		margin-top: 9px
		line-height: 1.7

	&__btn-nav
		margin-bottom: 10px
		font-size: 14px

	&__btn
		margin-top: 32px
		display: inline-block
		padding: 10px 33px

	&__advantage
		margin-top: 35px
		width: 80%