+font-face("OpenSansRegular", "./media/fonts/OpenSansRegular/OpenSansRegular", $file-formats: eot woff ttf)
+font-face("OpenSansBold", "./media/fonts/OpenSansBold/OpenSansBold", $file-formats: eot woff ttf)
+font-face("ProximaNovaRegular", "./media/fonts/ProximaNovaRegular/ProximaNovaRegular", $file-formats: eot woff ttf)
+font-face("ProximaNovaBold", "./media/fonts/ProximaNovaBold/ProximaNovaBold", $file-formats: eot woff ttf)
+font-face("ProximaNovaLight", "./media/fonts/ProximaNovaLight/ProximaNovaLight", $file-formats: eot woff ttf)
+font-face("ProximaNovaSemibold", "./media/fonts/ProximaNovaSemibold/ProximaNovaSemibold", $file-formats: eot woff ttf)


%regular
	font-family: "OpenSansRegular", $helvetica

%bold
	font-family: "OpenSansBold", $helvetica

%pregular
	font-family: "ProximaNovaRegular", $helvetica

%pbold
	font-family: "ProximaNovaBold", $helvetica

%plight
	font-family: "ProximaNovaLight", $helvetica

%psbold
	font-family: "ProximaNovaSemibold", $helvetica