+b.nav.__nav#nav
	+e.hover
	+e.list
		+e.item._sub._active
			+e.A.link(href="#") Создание сайтов
			+b.UL.subnav.__subnav
				+e.item
					+e.A.link(href="#") Корпоративные сайты
				+e.item
					+e.A.link(href="#") Интернет-магазины
				+e.item
					+e.A.link(href="#") Корпоративные порталы
				+e.item
					+e.A.link(href="#") Посадочные страницы
		+e.item._sub
			+e.A.link(href="#") Продвижение сайтов
			+b.UL.subnav.__subnav
				+e.item
					+e.A.link(href="#") Контекстная реклама
				+e.item
					+e.A.link(href="#") Медийная реклама
				+e.item
					+e.A.link(href="#") Раскрутка групп
				+e.item
					+e.A.link(href="#") Таргетированная реклама
				+e.item
					+e.A.link(href="#") Коллтрекинг
				+e.item
					+e.A.link(href="#") Оптимизация сайта при создании
		+e.item
			+e.A.link(href="#") Портфолио
		+e.item._sub
			+e.A.link(href="#") Магазин
			+b.UL.subnav.__subnav
				+e.item
					+e.A.link(href="#") Интернет-магазины
				+e.item
					+e.A.link(href="#") Корпоративные сайты
				+e.item
					+e.A.link(href="#") Посадочные страницы
		+e.item
			+e.A.link(href="#") Поддержка
		+e.item._sub
			+e.A.link(href="#") Компания
			+b.UL.subnav.__subnav._r
				+e.item
					+e.A.link(href="#") О нас
				+e.item
					+e.A.link(href="#") Блог
				+e.item
					+e.A.link(href="#") Вакансии
				+e.item
					+e.A.link(href="#") Контакты