mixin socials()
	+b.socials&attributes(attributes)
		.container
			+e.title Поделиться в соц сетях
			+e.body
				+e.A.link(href="#")
					+e.icon.icon_fb_cg
				+e.A.link(href="#")
					+e.icon.icon_vk_cg
				+e.A.link(href="#")
					+e.icon.icon_tw_cg
				+e.A.link(href="#")
					+e.icon.icon_gp_cg
				+e.A.link(href="#")
					+e.icon.icon_od_cg
				+e.A.link(href="#")
					+e.icon.icon_mm_cg