mixin ad-no-work(hr)
	+b.ad-no-work&attributes(attributes)
		.container
			.content
				+e.body
					if hr
						+b.hr.__hr
					+b.title Если реклама не помогает
					+b.desc.__desc Вы уже сотрудничаете с тем или иным SEO-агентством, но недовольны результатом или стоимостью раскрутки сайта? Закажите у нас бесплатный аудит Вашего веб-ресурса — и мы уже сегодня дадим Вам рекомендации по его улучшению и развитию.
					+btn.A._bg-color_orange._size_big.__btn(href="#") Заказать бесплатный аудит сайта

				+e.notebook